

.home{ 
    display: grid;
    width: 100%;
    height: 90vh;
    place-content: center;
    padding: 5% 10%;
    margin-bottom: 5%;
}

.home header{ 
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.homeTitleWord{ 
    font-size: 6rem;
    background: linear-gradient(to right,
                #9fccfa 20%,
                #0974f1 30%,
                #00ff87 70%,
                #103783 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.biggerTitle{
    font-size: 10rem;
}
.home .subheading{ 
    text-align: center;
    font-size: large;
    width: 75%;
    margin: 0 auto;
    color: rgba(255,255,255,0.6)
}


.home_button { 
    width: 100%;
    margin-top: 5%;
}
.home_button button{ 
    font-weight: 600;
    color: white;
    border-radius: 25px;
    background: none;
    transition: 256ms;
    animation: buttonShine 6s ease-in-out infinite alternate;
}

.home_button button:hover {
    cursor: pointer;
    background-color: rgba(46, 229, 157,0.75);
    color: #fff;
    transform: translateY(-7px);
    outline: none;
    border: none;
}
@keyframes buttonShine {
    /* #9fccfa 20%,
        #0974f1 30%,
        #00ff87 70%,
        #103783 80%); */
    0%{
        box-shadow: 0px 0 25px 0px #9fccfa;
            color: #fff;
    }
    25%{
        box-shadow: 0px 0 25px 0px #0974f1;
            color: #fff;
    }
    50%{ 
        box-shadow: 0px 0 25px 0px #00ff87;
            color: #fff;
    }
    100% {
    box-shadow: 0px 0 25px 0px #103783;
        color: #fff;
    }
}


/* media querries */
@media screen and (max-width: 768px){ 
    .home{ 
        height: 100vh;
        padding-top: 20%;
    }
    .home header{ 
        flex-direction: column;
        gap: 0px;
    }
    


    .home .subheading{ 
        width: 100%;
        font-size: small;
    }
    .home_button button{ 
        width: 25%;
        font-size: 0.6rem;
        font-weight: bolder;
    }
}
@media screen and (min-width:768px) and (max-width: 964px){ 
    .homeTitleWord{ 
        font-size: 5rem;
    }
    .biggerTitle{
        font-size: 7rem;
    }
    .home .subheading{ 
        width: 100%;
    }
    .home_button button{ 
        width: 25%;
    }
}

@media screen and (min-width:480px) and (max-width: 768px) {
    .home header{ 

        justify-content: none;
        align-items: none;
    }
    .homeTitleWord{ 
        font-size: 3.5rem;
        margin: 0;
        align-self: flex-start;
    }
    .homeTitleWord:nth-child(1){
        animation: slideInRight 0.3s ease-in-out;
    }
    .homeTitleWord:nth-child(3){
        align-self: flex-end;
        animation: slideInLeft 0.3s ease-in-out;
     }
         .biggerTitle{
        margin: 0;
        padding: 0;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width:480px) {
    .homeTitleWord{ 
        font-size: 3rem;
    }
}
