
.newsection header h2{ 
    font-size: 2.75rem;
}

.aboutDescription{ 
    width: 75%;
    padding: 0 10% 0 0;
}

@media screen and (max-width: 768px) {
    .newsection header h2{ 
        width: 100%;
        font-size: 2.25rem;
        text-align: center;
        margin: 0;
    }
    .aboutMain div img{ 
        width: 50%;
    }

    .aboutDescription{ 
        width: 75%;
        font-size: medium;
    }
    .aboutMain{ 

    }
}
@media screen and (max-width: 675px) {
        .aboutDescription{ 
            width: 75%;
            font-size: small;
    }
}
@media screen and (max-width: 512px) {
    .newsection header h2{ 
        width: 100%;
        font-size: 2.25rem;
        margin: 0;
    }
    .aboutMain div img{ 
        width: 40%;
    }

    .aboutDescription{ 
        width: 100%;
        font-size: medium;
    }
    .aboutDescription p{ 
        width: 90%; 
        margin: 0 auto;
        text-align: center;
    }
    .aboutMain{ 
        flex-direction: column;
        font-size: small;
    }
    .aboutMain{ 

    }
}